{% extends 'main/base.html' %} 
{% load static %} 
{% block title%} Products {%endblock %} 
{% block content %}

<div class="card-grid">
  {% for product in products %}
  <article class="card">
    {% if product.image %}
    <img src="{{ product.image.url }}" alt="{{ product.name }}" />
    {% endif %}

    <h3 class="title">{{ product.name }}</h3>

    <p class="price">{{ product.price }} UAH</p>

    {% if product.description %}
    <p class="description">{{ product.description }}</p>
    {% endif %}

	{% if product.updated_at %}
    <small class="muted">Updated: {{ product.updated_at|date:"d.m.Y H:i" }}</small>
    {% endif %}
  </article>
  {% empty %}
  <p>No products to display.</p>
  {% endfor %}
</div>
{% endblock %}